In [132]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [133]:
df = pd.read_csv(r'C:\Users\Adil\Desktop\nn\dataset\train.csv')
df.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [134]:
from sklearn.model_selection import train_test_split

data = np.array(df)
x, y= data[:,1:], data[:,0]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state= 42)

In [135]:
x_train = x_train/255
x_train = x_train.T
x_train.shape

(784, 33600)

In [136]:
y_train = np.array(pd.get_dummies(y_train)).T
y_train.shape

(10, 33600)

In [137]:
def relu(z):
    return np.maximum(0,z)

In [138]:
def sig(z):
    return 1/(1+np.exp(-z))

In [139]:
w1 = np.random.rand(10, 784)
b1 = np.random.rand(10, 1)

z1 = np.dot(w1, x_train) + b1
a1 = relu(z1)

In [140]:
a1.shape

(10, 33600)

In [141]:
w2 = np.random.rand(10, 10)
b2 = np.random.rand(10, 1)

z2 = np.dot(w2, a1) + b2
a2 = sig(z2)

In [142]:
mse_test_err = np.mean(np.square((y_train-a2)))
mse_test_err

0.9

In [143]:
def deriv_ReLu(Z):
    return Z>0

In [144]:
da2 = a2 - y_train
da1 = np.dot(w2.T, da2) * (a1*(1-a1))

da2 = np.dot(da2, a1.T)
da1 = np.dot(da1, x_train.T)

In [145]:
lr = 0.05
w1 = w1-(lr*da1)
w2 = w2-(lr*da2)

In [146]:
# W1 = np.random.rand(10, 784) - 0.5
# B1 = np.random.rand(10, 1)  - 0.5

# W2 = np.random.rand(10, 10) - 0.5
# B2 = np.random.rand(10, 1) - 0.5
# lr = 0.05

# for i in range(1000):
#     Z1 = np.dot(W1, x_train) + B1
#     A1 = relu(Z1)
    
#     Z2 = np.dot(W2, A1) + B2
#     A2 = sig(Z2)

#     if i%100 == 0:
#         mse_test_err = np.mean(np.square((y_train-A2)))
#         print(f'Error for itertion{i}: {mse_test_err}')

#     DA2 = A2 - y_train
#     DA1 = np.dot(W2.T, DA2) * (A1>0)

#     db2 = 1/33600 * np.sum(DA2, axis=1, keepdims=True)
#     DW2 = 1/33600 * np.dot(DA2, A1.T)

#     db1 = 1/33600 * np.sum(DA1, axis=1, keepdims=True)
#     DW1 = 1/33600 * np.dot(DA1, x_train.T)
    
#     W1 = W1 - (lr*DW1)
#     B1 = B1 - (lr*db1)
#     W2 = W2 - (lr*DW2)
#     B2 = B2 - (lr*db2)
    
# print(f'Final Error: {mse_test_err}')

In [147]:
def softmax(Z):
    A = np.exp(Z) / sum(np.exp(Z))
    return A

In [148]:
W1 = np.random.rand(10, 784) - 0.5
B1 = np.random.rand(10, 1) - 0.5

W2 = np.random.rand(10, 10) - 0.5
B2 = np.random.rand(10, 1) - 0.5
lr = 0.05

for i in range(1000):
    Z1 = np.dot(W1, x_train) + B1
    A1 = relu(Z1)
    
    Z2 = np.dot(W2, A1) + B2
    A2 = softmax(Z2)

    if i%100 == 0:
        mse_test_err = np.mean(np.square((y_train-A2)))
        print(f'Error for itertion{i}: {mse_test_err}')

    DA2 = A2 - y_train
    DA1 = np.dot(W2.T, DA2) * (A1>0)

    db2 = 1/33600 * np.sum(DA2, axis=1, keepdims=True)
    DW2 = 1/33600 * np.dot(DA2, A1.T)

    db1 = 1/33600 * np.sum(DA1, axis=1, keepdims=True)
    DW1 = 1/33600 * np.dot(DA1, x_train.T)
    
    W1 = W1 - (lr*DW1)
    B1 = B1 - (lr*db1)
    W2 = W2 - (lr*DW2)
    B2 = B2 - (lr*db2)
    
print(f'Final Error: {mse_test_err}')

Error for itertion0: 0.10671230227508886
Error for itertion100: 0.07528894693148405
Error for itertion200: 0.060044718461976704
Error for itertion300: 0.0507230750506841
Error for itertion400: 0.04456140308506354
Error for itertion500: 0.039344039108975694
Error for itertion600: 0.034999417969758466
Error for itertion700: 0.03165686021506672
Error for itertion800: 0.029165194129417208
Error for itertion900: 0.027286936521328096
Final Error: 0.027286936521328096

In [149]:
x_test = (x_test/255).T

Z1 = np.dot(W1, x_test) + B1
A1 = relu(Z1)

Z2 = np.dot(W2, A1) + B2
A2 = softmax(Z2)

In [150]:
y_test = np.array(pd.get_dummies(y_test)).T
y_test.shape

(10, 8400)

In [151]:
A2.shape

(10, 8400)

In [152]:
mse_test_err = np.mean(np.square((y_test-A2)))
print(f'Error for test set: {mse_test_err}')

Error for test set: 0.026496064806729426