In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [20]:
df = pd.read_csv(r'C:\Users\Adil\Desktop\nn\dataset\train.csv')
df.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
from sklearn.model_selection import train_test_split

data = np.array(df)
x, y= data[:,1:], data[:,0]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state= 42)
x_train[:10]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [22]:
x_train = x_train.T
x_train.shape

(784, 33600)

In [23]:
y_train = np.array(pd.get_dummies(y_train)).T
y_train.shape

(10, 33600)

In [24]:
def relu(z):
    return np.maximum(0,z)

In [34]:
def softmax(x):
    return(np.exp(x)/np.exp(x).sum())

In [26]:
w1 = np.random.rand(10, 784)
b1 = np.random.rand(10, 1)

z1 = np.dot(w1, x_train) + b1
a1 = relu(z1)

In [27]:
a1.shape

(10, 33600)

In [36]:
w2 = np.random.rand(10, 10)
b2 = np.random.rand(10, 1)

z2 = np.dot(w2, a1) + b2
a2 = softmax(z2)
a2.shape

C:\Users\Adil\AppData\Local\Temp\ipykernel_46532\3774089800.py:2: RuntimeWarning: overflow encountered in exp
  return(np.exp(x)/np.exp(x).sum())
C:\Users\Adil\AppData\Local\Temp\ipykernel_46532\3774089800.py:2: RuntimeWarning: invalid value encountered in divide
  return(np.exp(x)/np.exp(x).sum())

(10, 33600)

In [37]:
mse_test_err = np.mean(np.square((y_train-a2)))
mse_test_err

nan

In [30]:
def deriv_ReLu(Z):
    return Z>0

In [31]:
dz2 = a2 - y_train
dw2 = (np.dot(dz2,a1.T))/33600
db2 = np.sum(dz2)/33600
dz1 = np.dot(w2.T,dz2) * deriv_ReLu(z1)
dw1 = (np.dot(dz1,x_train.T))/33600
db1 = np.sum(dz1)/33600

In [32]:
lr = 0.5
w1 = w1-(lr*dw1)
b1 = b1-(lr*db1)
w2 = w2-(lr*dw2)
b2 = b2-(lr*db2)

In [33]:
W1 = np.random.rand(10, 784)
B1 = np.random.rand(10, 1)

W2 = np.random.rand(10, 10)
B2 = np.random.rand(10, 1)
lr = 0.5

for i in range(100):
    Z1 = np.dot(W1, x_train) + B1
    A1 = relu(Z1)

    Z2 = np.dot(W2, A1) + B2
    A2 = softmax(Z2)

    if i%10 == 0:
        mse_test_err = np.mean(np.square((y_train-A2)))
        print(f'Error for itertion{i}: {mse_test_err}')

    dZ2 = A2 - y_train
    dW2 = (np.dot(dZ2, A1.T))/33600
    dB2 = np.sum(dZ2)/33600
    
    dZ1 = np.dot(W2.T,dZ2) * deriv_ReLu(Z1)
    dW1 = (np.dot(dZ1,x_train.T))/33600
    dB1 = np.sum(dZ1)/33600

    
    W1 = W1 - (lr*dW1)
    B1 = B1 - (lr*dB1)
    W2 = W2 - (lr*dW2)
    B2 = B2 - (lr*dB2)

C:\Users\Adil\AppData\Local\Temp\ipykernel_46532\786869425.py:3: RuntimeWarning: invalid value encountered in divide
  return e_x / e_x.sum(axis=0)

Error for itertion0: nan
Error for itertion10: nan
Error for itertion20: nan
Error for itertion30: nan
Error for itertion40: nan
Error for itertion50: nan
Error for itertion60: nan
Error for itertion70: nan
Error for itertion80: nan
Error for itertion90: nan