In [124]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [125]:
df = pd.read_csv(r'C:\Users\Adil\Desktop\nn\dataset\train.csv')
df.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [126]:
from sklearn.model_selection import train_test_split

data = np.array(df)
x, y= data[:,1:], data[:,0]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state= 42)
x_train = x_train/255

In [127]:
x_train = x_train.T
x_train.shape

(784, 33600)

In [128]:
y_train = np.array(pd.get_dummies(y_train)).T
y_train.shape

(10, 33600)

In [129]:
def relu(z):
    return np.maximum(0,z)

In [130]:
def sig(z):
    return 1/(1+np.exp(-z))

In [131]:
w1 = np.random.rand(10, 784)
b1 = np.random.rand(10, 1)

z1 = np.dot(w1, x_train) + b1
a1 = relu(z1)

In [132]:
a1.shape

(10, 33600)

In [133]:
w2 = np.random.rand(10, 10)
b2 = np.random.rand(10, 1)

z2 = np.dot(w2, a1) + b2
a2 = sig(z2)

In [134]:
mse_test_err = np.mean(np.square((y_train-a2)))
mse_test_err

0.9

In [135]:
def deriv_ReLu(Z):
    return Z>0

In [136]:
da2 = a2 - y_train
da1 = np.dot(w2.T, da2) * (a1*(1-a1))

da2 = np.dot(da2, a1.T)
da1 = np.dot(da1, x_train.T)

In [137]:
lr = 0.05
w1 = w1-(lr*da1)
w2 = w2-(lr*da2)

In [138]:
W1 = np.random.rand(10, 784) - 0.5
B1 = np.random.rand(10, 1)  - 0.5

W2 = np.random.rand(10, 10) - 0.5
B2 = np.random.rand(10, 1) - 0.5
lr = 0.05

for i in range(1000):
    Z1 = np.dot(W1, x_train) + B1
    A1 = relu(Z1)
    
    Z2 = np.dot(W2, A1) + B2
    A2 = sig(Z2)

    if i%100 == 0:
        mse_test_err = np.mean(np.square((y_train-A2)))
        print(f'Error for itertion{i}: {mse_test_err}')

    DA2 = A2 - y_train
    DA1 = np.dot(W2.T, DA2) * (A1>0)

    db2 = 1/33600 * np.sum(DA2, axis=1, keepdims=True)
    DW2 = 1/33600 * np.dot(DA2, A1.T)

    db1 = 1/33600 * np.sum(DA1, axis=1, keepdims=True)
    DW1 = 1/33600 * np.dot(DA1, x_train.T)
    
    W1 = W1 - (lr*DW1)
    B1 = B1 - (lr*db1)
    W2 = W2 - (lr*DW2)
    B2 = B2 - (lr*db2)

Error for itertion0: 0.27016188272830427
Error for itertion100: 0.0638147118551772
Error for itertion200: 0.04824162187044291
Error for itertion300: 0.0414059171976019
Error for itertion400: 0.03763948357255963
Error for itertion500: 0.03506217167438814
Error for itertion600: 0.03306183353937401
Error for itertion700: 0.03142082779302921
Error for itertion800: 0.030031743036960344
Error for itertion900: 0.02883076995791563

In [139]:
def softmax(Z):
    A = np.exp(Z) / sum(np.exp(Z))
    return A

In [140]:
W1 = np.random.rand(10, 784) - 0.5
B1 = np.random.rand(10, 1) - 0.5

W2 = np.random.rand(10, 10) - 0.5
B2 = np.random.rand(10, 1) - 0.5
lr = 0.05

for i in range(1000):
    Z1 = np.dot(W1, x_train) + B1
    A1 = relu(Z1)
    
    Z2 = np.dot(W2, A1) + B2
    # print(Z2)
    A2 = softmax(Z2)

    if i%100 == 0:
        mse_test_err = np.mean(np.square((y_train-A2)))
        print(f'Error for itertion{i}: {mse_test_err}')

    DA2 = A2 - y_train
    DA1 = np.dot(W2.T, DA2) * (A1>0)

    db2 = 1/33600 * np.sum(DA2, axis=1, keepdims=True)
    DW2 = 1/33600 * np.dot(DA2, A1.T)

    db1 = 1/33600 * np.sum(DA1, axis=1, keepdims=True)
    DW1 = 1/33600 * np.dot(DA1, x_train.T)
    
    W1 = W1 - (lr*DW1)
    B1 = B1 - (lr*db1)
    W2 = W2 - (lr*DW2)
    B2 = B2 - (lr*db2)

Error for itertion0: 0.10965899488245905
Error for itertion100: 0.07426825628952369
Error for itertion200: 0.0563978614522282
Error for itertion300: 0.0456378472781493
Error for itertion400: 0.03877828624286037
Error for itertion500: 0.03443161338250898
Error for itertion600: 0.031270658102804806
Error for itertion700: 0.02879892654125835
Error for itertion800: 0.026857266696542974
Error for itertion900: 0.02529007663423056